<head>
    <meta charset="utf-8">
    <title>{{forum.title}}</title>
    <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/forums">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/signup">Signup</a></li>
        </ul>
        <h1>{{forum.title}}</h1>
    </header>
<form action="/forums/{{forum.url}}/new-thread" method="get">
  <button type="submit" value="Submit">Create Thread</button>  
</form> 
    <ul id = "threads-list">
    {{#each threads}}
    <li>
        <a id="thread-items" href="/forums/{{forums.title}}/{{forums.threads}}">{{threads.title}}</a>
    </li>
    {{/each}}
    </ul>
</body>