<body>
<article class="new-information">
  <h1>Update Your Information</h1>
  <h3>If you'd like to update any of your info, fill in what you want to change it to and press submit at the bottom.</h3>
  <form  id="updateinfo-form" action="/infochange" method="POST">
        <p>Username: {{user.username}} </p>
    <div class="form-group">
        <Input type="text" id="username" name="newusername" placeholder="New username?" class="form-control">
    </div>
    <p>Name: {{user.firstName}} {{user.lastName}}</p>
    <div class="form-group">
        <input type="firstName" id="firstName" class="form-control" placeholder="New first name?" name="firstName" required>
    </div>
    <br>
    <div class="form-group">
        <input type="lastName" id="lastName" class="form-control" placeholder="New last name?" name="lastName" required>
    </div>
        <p>Wins: {{user.wins}}</p>
    <div class="form-group">
        <Input type="text" id="password" name="newpassword" placeholder="New password?" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</article>
    <br>
    {{error}}
    </br>
    <a href="/frontpage">Back to main page</a>
    </br>
</body>