<head>
    <meta charset="utf-8">
    <title>Mafia Forum</title>
    <link rel="stylesheet" href="/css/frontpage.css">
</head>
<body>
    <header>
        <h1>Front Page</h1>
        <ul>
            <a href="/users">Home</a>
            <a href="/users/profile/{{user.username}}">{{user.username}}</a>
            <a href="/users/logout">Logout</a>
        </ul>
    </header>
    <div id = "frontpagethreads">
    {{#each nav}}
        <a href="/thread/{{../permalink}}#{{id}}">{{thread.title}}</a>
        <h1>{{thread.poster.username}}</h1>
        <h2>{{thread.poster.wins}}</h2>
    {{/each}}
    </div>
</body>