<article class="post">
  <h1>{{ post.title }}</h1>
  <address>Posted by <a href="" rel="author">{{post.poster.name}}</a></address>
  <p>{{post.poster.wins}}</p>
  <p>{{ post.body }}</p>
</article>
<main>
    <body>
    <label for="comment-body">Comment Body</label>
    <textarea id="comment-body" name="body" rows="4" placeholder="Comment Content" class="full-width-input">{{comment.body}}</textarea>
    <button type="submit">Create New Comment</button>
    <button type="reset">Clear Form</button>
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
    </body>
</main>