<main>
<head>
    <meta charset="utf-8">
    <title>{{user.username}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <br>
        <h1>{{user.name}}</h1>
        <h2>{{user.wins}}</h2>
    </br>
    <div id = "threads">
        {{#each threads}}
            <h2><a href="/thread/{{../permalink}}#{{id}}">{{user.thread.title}}</a></h2>
        {{/each}}
    </div>
        <br>
    <a href="/frontpage">back to front page</a>
    </br>
</body>
</main>