<main>
<head>
    <meta charset="utf-8">
    <title>{{user.username}}'s Profile</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <br>
        <h1>{{user.username}}'s Profile</h1>
        <h2>{{user.firstName}} {{lastName}}</h2>
        <h2>{{user.wins}} win(s)</h2>
    </br>
    <div id = "threads">
        {{#each threads}}
            <h2><a href="/thread/{{../permalink}}#{{id}}">{{user.thread.title}}</a></h2>
        {{/each}}
    </div>
        <br>
    <a href="/forums">Back to main page</a>
    </br>
</body>
</main>