<head>
    <meta charset="utf-8">
    <title>{{threads.title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <ul id = "posts-list">
    {{#each posts}}
        <li>
            {{posts.title}}
        </li>
        <h1>{{author.username}}</h1>
        <h2>{{author.wins}}</h2>
        <p>{{posts.body}}</p>
    {{/each}}
    </ul>
</body>